<!DOCTYPE html>
<html>
<head>  
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<link rel="shortcut icon" href="/static/images/2.ico" type="image/x-icon"> 
<title>Chat Map</title>
<link rel="stylesheet" href="/static/css/index.css">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=WFRBEkrVXBF28mWoWqQtM2jhVzC1ja9F"></script>
<!--//v3.0版本的引用方式：src="http://api.map.baidu.com/api?v=3.0&ak=WFRBEkrVXBF28mWoWqQtM2jhVzC1ja9F"-->
 <!--<script src="/static/jquery-1.11.3.js"></script>-->
<script src="/static/js/jquery.min.js"></script>
</head>


<body>
    <div id="container"></div>
<script src="/static/js/index/index.js"></script>

</body>
</html>